//
//  ios-common.xcconfig
//  HelloWorktile
//
//  Created by Frank Lin on 3/23/16.
//  Copyright © 2016 Frank Lin. All rights reserved.
//

IPHONEOS_DEPLOYMENT_TARGET = 8.0

PRODUCT_NAME = HelloWorktile

HEADER_SEARCH_PATHS = ../../vendor ../../vendor/sakura/include/ios ../../vendor/curl ../../vendor/easySQLite ../../vendor/libsqlite/include ../../core ../../cocoa

LIBRARY_SEARCH_PATHS = ../../vendor/curl/prebuilt/ios ../../vendor/openssl/prebuilt/ios/lib ../../vendor/sakura/prebuilt/ios

OTHER_LDFLAGS = -lz -lcurl -lcrypto -lssl -lsakura -lsqlite3

GCC_PREPROCESSOR_DEFINITIONS = WTC_PLATFORM=WTC_PLATFORM_IOS